{% extends 'base.html'%}

{% load static %}


{% block title %}
| Latest Releases
{% endblock%}

{% block content%}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4"></i>Our Delicious Receipes For You</i></h1>
        <p class="text-bold"> <i aria-hidden="false">Too lazy to cook, yet crave the most
            delicious food?
            we know how you feel, so here are the awesome receipes on various items, just go through them and eat
            awesome food items at your home made by you own hands
          </i></p>

      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home'%}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Browse Latest Releases</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container">
    <div class="row">
      {%if posts %}
      <!--  -->
      {%for Post in posts %}
      <!-- Listing 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{Post.photo_main.url}}" alt="" />

          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{Post.title}}</h4>
              <p>
                <i class=" text-secondary"></i> {{post.title}}
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">

              <div class="col-12"> {{Post.description}}</div>
            </div>
            <div class="row py-2 text-secondary">

              <div class="col-12"> {{Post.url.url}}</div>
            </div>

            <hr />

            <a href="{% url 'post' Post.id%}" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>
      {%endfor %}

      <!--  -->
      {% else %}
      <div class="col-md-12">
        <p>No posts avilable</p>
      </div>
      <!--  -->
      {%endif%}
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if posts.has_other_pages%}
        <ul class="pagination">
          {%if posts.has_previous%}
          <li class="page-item">
            <a href="?page {{posts.previous_page_number}}" class="page-link">&laquo; previous</a>
          </li>
          {%else%}
          <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
            {%endif%}
          </li>
          {%for i in posts.paginator.page_range%}
          {%if posts.number == i%}
          <li class="page-item active">
            <a class="page-link">{{i}}</a>
          </li>
          {%else %}
          <li class="page-item ">
            <a href="?page={{i}}" class="page-link">{{i}}</a>
          </li>
          {%endif%}
          {%endfor%}
          {%if posts.has_next%}
          <li class="page-item">
            <a href="?page {{posts.next_page_number}}" class="page-link"> next &raquo;</a>
          </li>
          {%else%}
          <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
            {%endif%}

        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock%}