.btn-secondary {
	color: rgb(48, 44, 44) !important;
}

img {
	width: 100%;
}

.logo {
	width: 100px;
}

.navbar {
	background-color: rgb(0, 0, 0);
	opacity: 1;
	text-transform: lowercase;
}

.social a {
	margin-right: 0.4rem;
}

#services::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	background: rgba(9, 15, 14, 0.8);
}

#work {
	padding: 6rem 0;
}

.listing-preview a {
	position: relative;
}

@media (max-width: 991px) {
	#showcase {
		padding-top: 4rem;
	}
	#showcase h1 {
		font-size: 40px;
	}
	.hide-md-down {
		display: none;
	}
}

@media (max-width: 768px) {
	#showcase {
		padding-top: 3rem;
	}
	#showcase h1 {
		font-size: 40px;
	}
	#showcase p {
		display: none;
	}
	#top-bar {
		text-align: center;
	}
	#top-bar .social {
		text-align: center !important;
	}
}

@media (max-width: 576px) {
	#showcase h1 {
		font-size: 30px;
	}
	#showcase-inner h1 {
		font-size: 40px;
	}
}
