{% extends 'base.html'%}
<!--  -->
{% load embed_video_tags %}
<!--  -->
{% load static%} {% block title %} | Home
<!--  -->
{% endblock%}
<!--  -->
{% block content%}

<!-- carousel -->
{% include 'partials/_message.html'%} {%include "partials/_carousel.html"%}

<!-- Listings -->

<section id="listings" class="py-3">
  <div class="container">
    <h3 class="text-center mb-3">Our Latest Recipes</h3>
    <hr />
    <div class="row">
      {%if posts %}
      <!--  -->
      {%for Post in posts %}

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <div class="embed-responsive embed-responsive-16by9">
            {% video Post.video as my %}
            <iframe
              class="embed-responsive-item margin-auto"
              src="{{ my.url }}"
            ></iframe>
            {% endvideo %}
          </div>

          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{Post.title}}</h4>
              <p><i class="text-primary"></i> {{post.title}}</p>
            </div>

            <hr />
            <a href="{% url 'post' Post.id%}" class="btn btn-info btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>


      {%endfor %}

      <!--  -->
      {% else %}
      <div class="col-md-12">
        <p>No posts avilable</p>
      </div>
      <!--  -->
      {%endif%}
    </div>
    <section id="work" class="bg-dark text-white text-center">
  <!-- <h2 class="display-4 text-bold">Eat Healthy, Eat Tasty and Stay Happy :)</h2> -->
  <h4>
    Click below to discover all the recipes of ours to date
  </h4>
  <hr />
  <a href="{% url 'posts' %}" class="btn btn-info text-white btn-lg"
    >View Our Latest Recipes</a
  >
</section>
  </div>
</section>

{% endblock%}
