{% extends 'base.html'%}
{% load embed_video_tags %}
{% load static%}

{% block title %}
| Home
{% endblock%}

{% block content%}

<!-- carousel -->

{%include "partials/_carousel.html"%}

<!-- Listings -->



<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Our Latest Recipes</h3>
    <hr>
    <div class="row">
      {%if posts %}
      <!--  -->
      {%for Post in posts %}


      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <div class="embed-responsive embed-responsive-16by9">
            {% video Post.video as my %}
            <iframe class="embed-responsive-item mt-1 ml-1 mr-1" src="{{ my.url }}"></iframe>
            {% endvideo %}
          </div>

          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{Post.title}}</h4>
              <p>
                <i class=" text-primary"></i> {{post.title}}
              </p>
            </div>
     
            <hr>

            <!-- <div class="row py-2 text-dark text-justify">

              <div class="col-12">{{Post.description}} </div>
            </div> -->

            <hr />

            <a href="{% url 'post' Post.id%}" class="btn btn-dark btn-block">More Info</a>
          </div>
        </div>
      </div>
      {%endfor %}

      <!--  -->
      {% else %}
      <div class="col-md-12">
        <p>No posts avilable</p>
      </div>
      <!--  -->
      {%endif%}
    </div>
  </div>

</section>

{% endblock%}