{% extends "base.html" %}
{% load static %}
{% block title %}
| Contact
{% endblock%}
{% block content %}
<div class="row text-center col-md-12">
    <div class="col-md-4">
        <div class="card mb-3">
            <p>for this contact him</p>
            <img class="card-img-top" src="{% static 'img/nirajan.jpg'%}" class="rounded-circle mb-3"
                alt="Seller of the month">
            <div class="card-body">
                <h5 class="card-title">Property Realtor</h5>
                <h6 class="text-secondary">Kyle Brown</h6>
            </div>
        </div>
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Contact</button>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="{% static 'img/nirajan.jpg'%}" class="rounded-circle mb-3">
            <div class="card-body">
                <h5 class="card-title">Property Realtor</h5>
                <h6 class="text-secondary">Kyle Brown</h6>
            </div>
        </div>
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Contact</button>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="{% static 'img/nirajan.jpg'%}" alt="Seller of the month">
            <div class="card-body">
                <h5 class="card-title">Property Realtor</h5>
                <h6 class="text-secondary">Kyle Brown</h6>
            </div>
        </div>
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Contact</button>
    </div>
</div>
{%include "partials/_message.html"%}
<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="property_name" class="col-form-label">Property:</label>
                        <input type="text" name="listing" class="form-control" value="45 Drivewood Cirlce" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone:</label>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <h1> here we put the necessary notice and why and what should be inquired</h1>
</div>
{% endblock %}